/* Reset Css */
html,
body,
div,
form,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre
{
    font-size: 18px;
    font-weight: normal;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    text-align: left;
    vertical-align: top;
}

img
{
    border: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }



 /* Colors */
 :root {
     /* Primary */
    --StrongCyan: hsl(171, 66%, 44%);
    --LigthBlue: hsl(233, 100%, 69%);
    /* Neutral */
    --DarkGrayishBlue: hsl(210, 10%, 33%);
    --GrayishBlue: hsl(201, 11%, 66%);
  }
 

/* DESTOK FIRST */

h1,
h2,
h3,
p {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;

}

    /* Header */

body{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.header{
    position: relative;
    width: 100%;
    height: 700px;
}

.head__logo-backgraund {    
    position:relative;
    width: 100%;
    display: block;
    
}
.head__logo-c{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 130px;
    margin: auto;

}

.head__title,
.head__title--parraf {
    position: relative;
    text-align: center;
    bottom: 53px;
}

.head__title{
    font-weight:600;
    font-size: 2.5rem;
    color: var(--DarkGrayishBlue);

}

.head__title--parraf{
    font-size: 1.15rem;
    font-weight: 400;
    margin-top: 15px;
    color: var(--GrayishBlue);
}

/* Descargas */

.download {
    width: 500px;
    height: 100px;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
}

.download__iOS,
.download__Mac {
    margin: 10px;
    border-radius: 30px;
    width: 250px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.download__iOS{
    background-color: var(--StrongCyan);
    box-shadow: 2px 2px 1px  hsl(171, 58%, 38%);

}

.download__Mac {
    background-color: var(--LigthBlue);
    box-shadow: 2px 2px  1px   hsl(233, 62%, 55%);

}

/* primer article */

.keep-track,
.access,
.supercharge {
    text-align: center;
    font-size: 2rem;
    color: var(--DarkGrayishBlue);
}

.keep-track__parraf,
.access__parraf,
.supercharge__parraf
{
    text-align: center;
    color: var(--GrayishBlue);
    margin: 10px 360px;
    font-weight: 400;
}

.content-box {
    width: 100%;
    position: relative;
    margin: 85px 0px 150px 0px;
    display: flex;
}

.imagen-pc {
    width: 51%;
    left: -14px;
    position: relative;
}
.information {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 357px;
    height: 300px;
    margin: 70px 20px 20px 95px;
}

.quick-search,
.icloud,
.complete-history
{
    font-size: 1.3rem;
    color: var(--DarkGrayishBlue);

}
.quick-search__parraf,
.icloud__parraf,
.complete-history__parraf{
    font-size: 0.9rem;
    color: var(--GrayishBlue);
    font-weight: 400;
    margin: 15px 0 70px 0;
}
.computer-mobile{
        position: relative;
        display: block;
        margin: 10px auto 50px auto;
}

.create,
.plait,
.sneak{
    font-size: 1.3rem;
    color: var(--DarkGrayishBlue);
}

.create__parraf,
.plait__parraf,
.sneak__parraf{
    font-size: 0.9rem;
    color: var(--GrayishBlue);
    font-weight: 400;
    margin: 15px 0 70px 0;
}